<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import { icons } from '$lib/social-media';
</script>

<footer>
	<div class="social">
		{#each icons as i, idx}
			{#if idx == 5}
				<div class="filler" />
			{/if}
			<a
				class="icon"
				title={i[1]}
				href={i[2]}
				target="_blank"
				rel="noindex nofollow external"
			>
				<svelte:component this={i[0]} />
			</a>
		{/each}
	</div>
	<!-- <a href="https://ko-fi.com/P5P4BUSNG" target="_blank" class="kofi-button">
		<img
			src="https://cdn.ko-fi.com/cdn/kofi3.png?v=3"
			alt="Buy Me a Coffee at ko-fi.com"
		/>
	</a> -->
	<span>&copy; - Hudson Curren - 2022 </span>
	<span
		><a
			href="https://gitlab.com/d3rpp/dev"
			rel="noindex nofollow external"
			target="_blank">view source code</a
		></span
	>
</footer>

<style lang="scss">
	footer {
		width: 100vw;

		height: fit-content;
		min-height: $footer-min-height;

		padding: 16px 0;

		background-color: darken($accent, 1.5);
		color: $text;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		span {
			height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;

			font-family: 'Jetbrains Mono';
			font-weight: 300;

			a {
				color: $text-dark;
			}
		}

		@include mobile_portrait_only {
			padding: 16px 0 64px 0;
		}

		// .kofi-button {
		// 	margin: 8px 0;
		// 	height: 48px;

		// 	img {
		// 		height: 100%;
		// 	}
		// }

		.social {
			// height: 100%;

			// margin: 0 auto;

			width: 100%;

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			.icon {
				height: 64px;
				width: 64px;

				display: flex;
				justify-content: center;
				align-items: center;
				:global(svg) {
					transition: fill 100ms $ease;

					fill: $text;

					$size: 28px;

					width: $size;
					height: $size;

					&:hover {
						fill: $text-hover;
					}
				}
			}
		}
	}
</style>
