<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	let mobile_dropdown_active = false;

	import { navigating } from '$app/stores';

	import { fade } from 'svelte/transition';

	const toggle_dropdown = (force: boolean | null = null) => {
		mobile_dropdown_active =
			force == null ? !mobile_dropdown_active : force!;
	};
</script>

<header>
	<div
		class="backdrop"
		class:active={mobile_dropdown_active}
		on:click={() => toggle_dropdown(false)}
	/>

	<nav
		class="dropdown-menu"
		class:active={mobile_dropdown_active}
		on:click={() => toggle_dropdown(false)}
	>
		<a href="/">home</a>
		<a href="/blog">blog</a>
	</nav>

	<div class="l">
		<a href="/">d3rpp.dev</a>
	</div>

	<nav class="r">
		<a href="/">home</a>
		<a href="/blog">blog</a>
	</nav>
	{#if $navigating != null}
		<div class="loading" transition:fade={{ duration: 50 }}>
			<div class="line" />
			<div class="subline inc" />
			<div class="subline dec" />
		</div>
	{/if}
</header>

<div
	class="arrow"
	class:active={mobile_dropdown_active}
	on:click={() => toggle_dropdown()}
>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
		<path d="M24 30.75 12 18.75 14.15 16.6 24 26.5 33.85 16.65 36 18.8Z" />
	</svg>
</div>

<!-- TODO: ADD DROP DOWN FOR MOBILE -->
<style lang="scss">
	.arrow {
		display: none;

		justify-content: center;
		align-items: center;

		position: fixed;
		top: 0;
		right: 0;

		width: 64px;
		height: 64px;

		z-index: 3;

		svg {
			width: 32px;

			path {
				fill: $text;
			}
			transition: transform 100ms ease;
		}

		&:hover {
			// background-color: $accent-dark;

			svg path {
				fill: $text-dark;
			}
		}

		&.active {
			svg {
				transform: rotate(180deg);
			}
		}

		@include mobile_portrait_only {
			display: flex;
		}
	}

	.dropdown-menu {
		display: none;

		z-index: 2;

		position: fixed;
		top: $header-height * -2;
		left: 0;

		width: 100vw;

		transition: top 200ms ease;

		&.active {
			top: $header-height;
		}

		a {
			width: 100vw;

			display: grid;
			place-items: center;

			text-align: center;

			height: $header-height;

			text-decoration: none;

			color: $text;
			background-color: $accent;

			&:hover {
				color: $text-hover;

				background-color: $accent-dark;
			}
		}

		@include mobile_portrait_only {
			display: flex;

			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.backdrop {
		display: none;

		flex-direction: column;
		justify-content: center;
		align-items: center;

		background-color: #00000020;

		position: fixed;
		top: $header-height;
		left: 0;

		height: Calc(100vh - $header-height);
		width: 100vw;

		transition: opacity 200ms ease;

		opacity: 0;
		pointer-events: none;

		&.active {
			opacity: 1;
			pointer-events: all;
		}

		@include mobile_portrait_only {
			&.active {
				display: block;
			}
		}
	}

	header {
		width: 100vw;
		background-color: $accent;

		height: Calc($header-height + env(safe-area-inset-top, 0px));

		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		user-select: none;

		z-index: 2;

		// box-shadow: 0px -6px 16px 8px $accent;

		@include mobile_portrait_only {
			justify-content: center;
		}
	}

	.l {
		padding-left: calc(100% / 6);
		@include mobile_portrait_only {
			padding: 0;
			background-color: $accent;

			z-index: 4;
		}

		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		align-items: center;
		a {
			font-size: calc($header-height / 2.25);
			// line-height: $header-height;
			font-weight: 200;

			text-decoration: none;

			width: 100%;
			height: $header-height;

			padding: 0px 16px;

			display: flex;
			justify-content: center;
			align-items: center;

			color: $primary;

			transition: color 100ms $ease;

			&:hover {
				color: $primary-dark;
				text-decoration: underline;
			}
		}
	}

	.r {
		padding-right: Calc(calc(100% / 6) + 16px);
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		height: 100%;

		a {
			width: 128px;
			text-align: center;
			font-size: calc($header-height / 3.5);
			height: 100%;
			line-height: $header-height;

			// color: $primary;
			color: $text;
			text-decoration: none;

			&:hover {
				// color: $primary-dark;
				text-decoration: underline;
			}
		}

		@include mobile_portrait_only {
			display: none;
		}
	}

	@keyframes increase {
		from {
			left: -5%;
			width: 5%;
		}
		to {
			left: 130%;
			width: 100%;
		}
	}
	@keyframes decrease {
		from {
			left: -80%;
			width: 80%;
		}
		to {
			left: 110%;
			width: 10%;
		}
	}

	.loading {
		position: absolute;
		top: $header-height - 2px;
		left: 0;

		z-index: 100;

		width: 100vw;
		height: 2px;

		transition: opacity 100ms ease;

		overflow-x: hidden;

		.line {
			position: absolute;
			opacity: 0.4;
			background: $primary;
			width: 150%;
			height: 5px;
		}

		.subline {
			position: absolute;
			background: $primary;
			height: 5px;
		}
		.inc {
			animation: increase 2s infinite;
		}
		.dec {
			animation: decrease 2s 0.5s infinite;
		}
	}
</style>
