<script lang="ts">
	export let center = false;
	export let margin = true;
	export let padding = false;
</script>

<div class="page" class:center class:margin class:padding>
	<slot>
		<div style="height:20vh;" />
		<h1 style="width:100%; text-align:center;">this is an empty page 😳</h1>
	</slot>
</div>

<style lang="scss">
	.page {
		margin: 0;

		&.padding {
			padding: 2em;
		}

		&:not(.padding) {
			padding: 0 0 32px 0;
		}

		&.margin {
			padding: 0 0 32px 0;
		}

		&:not(.margin) {
			padding: 0px 0px 32px 0px;
		}

		// min-height: 100%;

		&.center {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			text-align: center;
		}

		background-color: $accent;
		color: $text;

		$top-default: 4px;
		$bottom-default: 8px;

		$left-default: 8px;
		$right-default: 8px;

		// phones are kinda cringe

		height: auto;
		width: 100vw;
		min-height: Calc(
			100vh -
				Calc(
					env(safe-area-inset-top, $top-default) +
						env(safe-area-inset-bottom, $bottom-default)
				)
		);

		// min-height: -webkit-fill-available;

		@include mobile_and_tablet {
			padding-left: env(safe-area-inset-left, $left-default);
			padding-right: env(safe-area-inset-right, $right-default);
			padding-top: Calc(
				env(safe-area-inset-top, $top-default) + ($header-height + 8px)
			);
			padding-bottom: env(safe-area-inset-bottom, $bottom-default);
		}
	}
</style>
