<script lang="ts">
	import type { PageData } from './$types';

	export let data: PageData;

	import Page from '$lib/page.svelte';
	import BlogPost from './blogpost.svelte';

	import { fly, fade } from 'svelte/transition';

	$: ({ posts } = data);
</script>

<svelte:head>
	<title>blog - d3rpp.dev</title>
	<meta property="og:title" content="blog - d3rpp.dev" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://d3rpp.dev/blog" />
	<meta property="og:image" content="https://d3rpp.dev/og.png" />

	<meta property="og:description" content="the d3rpp.dev blog" />
	<meta name="description" content="the d3rpp.dev blog" />
</svelte:head>

<Page center={true}>
	<div class="title">
		<h1 in:fly={{ duration: 200, delay: 100, y: 10 }}>Blog</h1>
	</div>

	<div
		class="list"
		in:fly={{ duration: 200, delay: 200, y: 10 }}
		out:fade={{ duration: 100 }}
	>
		{#each posts as post}
			<BlogPost {post} />
		{/each}
	</div>
</Page>

<style lang="scss" scoped>
	div.title {
		height: 250px;
		margin-bottom: 32px;

		background-color: $accent-dark;

		display: grid;
		place-items: center;

		width: 100%;
	}

	.list {
		width: 100%;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		padding: 0 15%;

		@include mobile_and_tablet {
			padding: 0 10%;
		}

		@include mobile_portrait_only {
			padding: 0 2px;
		}
	}
</style>
