<script context="module" lang="ts">
	export const prerender = false;
</script>

<script lang="ts">
	import { local_date_string_options } from '$lib/utils';

	export let post: StoryblokPageWithoutPageContent;
</script>

<a class="post" href={`/blog/${post.slug}`}>
	<div
		class="banner"
		style={`background-image:url("${`${post.content.banner.filename}/m/768x125/smart`}");`}
	/>
	<div class="text">
		<span class="title">
			{post.name}
		</span>
		<span class="date">
			{new Date(post.created_at).toLocaleDateString(
				undefined,
				local_date_string_options
			)}
		</span>
	</div>
</a>

<style lang="scss">
	.post {
		// border: 1px solid red;
		border-radius: 4px;

		margin: 8px;

		width: Min(300px, 95vw);
		height: 200px;

		display: grid;
		grid-template-rows: 125px 75px;

		text-decoration: none;

		@include mobile_portrait_only {
			width: 90%;
			margin: 8px 0;
		}

		.banner {
			height: 100%;
			width: 100%;

			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			background-color: #00000010;
		}

		.text {
			background-color: darken($accent-dark, 1);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			padding: 4px 16px;

			span {
				text-align: left;
				text-overflow: ellipsis;
				width: 100%;

				font-size: 18px;

				&.title {
					color: $text;
					font-weight: bold;
				}

				&.date {
					color: $text-dark;
				}
			}
		}
	}
</style>
