<script lang="ts">
	import Page from '$lib/page.svelte';
	import { page } from '$app/stores';
</script>

<Page padding>
	<h1>{$page.status}: {$page.error.name}</h1>

	<br />
	<p>URL: <a href={$page.url.href}>{$page.url}</a></p>
	<br />

	<h3>Parameters</h3>
	<br />
	<pre>{JSON.stringify($page.params, null, 2)}</pre>
	<br />
	<hr />

	<h3>Stack Trace</h3>
	<br />

	<pre>{$page.error.stack}</pre>
	<hr />
</Page>

<style>
	h1 {
		font-size: 5em;
	}

	pre {
		font-family: monospace;
		width: Min(300px, 100vw);
		text-align: left;
	}
</style>
