<script lang="ts">
	import Footer from '$lib/footer.svelte';
	import Header from '$lib/header.svelte';

	import { onMount } from 'svelte';

	onMount(() => {
		document.querySelector('body').removeAttribute('style');
	});
</script>

<Header />

<slot />

<Footer />

<style lang="scss" global>
	// #region GLOBAL RESETS

	// SUPER GLOBAL RESETS

	::selection {
		background: $primary-dark;
	}

	*::-webkit-scrollbar-track {
		background: $scrollbar-track;
	}

	*::-webkit-scrollbar-thumb {
		background: $scrollbar-thumb;
	}

	// NOT SO SUPER GLOBAL RESETS

	html {
		width: 100vw;
		height: 100vh;
		height: -webkit-fill-available;

		overflow: hidden;
		// overflow-x: hidden;
		// overflow-y: hidden;

		background-color: $footer-color;
	}

	// REGULAR RESETS

	body {
		width: 100vw;
		height: Calc(100vh - $header-height);
		height: -webkit-fill-available;

		margin-top: $header-height;

		// overflow: hidden;

		overflow-y: scroll;
		// overflow-x: hidden;

		// display: flex;
		// flex-direction: column;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 200;
	}

	span,
	p,
	div {
		font-weight: 300;
	}

	strong,
	b {
		font-weight: 400;
	}

	// #endregion
</style>
