<script lang="ts">
	import Page from '$lib/page.svelte';

	import { fly, fade } from 'svelte/transition';
</script>

<svelte:head>
	<title>home - d3rpp.dev</title>
	<meta property="og:title" content="home - d3rpp.dev" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://d3rpp.dev/" />
	<meta property="og:image" content="https://d3rpp.dev/og.png" />

	<meta
		property="og:description"
		content="as of yet, d3rpp.dev is mostly empty, but there is a blog!"
	/>

	<meta
		name="description"
		content="as of yet, d3rpp.dev is mostly empty, but there is a blog!"
	/>
</svelte:head>

<Page center={true}>
	<div class="title">
		<h1 in:fly={{ duration: 200, delay: 100, y: 10 }}>Welcome</h1>
	</div>
	<div style="height: 15vh;" />
	<div
		in:fly={{ duration: 200, delay: 200, y: 10 }}
		out:fade={{ duration: 100 }}
	>
		<p>I haven't figured out what to put here yet.</p>
		<br />
		<p>Stay tuned for incoming stuff though!</p>
	</div>
</Page>

<style lang="scss">
	div.title {
		height: 250px;
		margin-bottom: 16px;

		background-color: $accent-dark;

		display: grid;
		place-items: center;

		width: 100%;
	}
	p {
		max-width: 90vw;
		font-size: 18px;
	}
</style>
