<script lang="ts">
	import Text from './text.svelte';

	export let bloks: Blok[];
	export let width: number;
	export let is_list_item = false;
</script>

{#each bloks as block}
	{#if block.type == 'text'}
		<Text {block} />
	{:else if block.type == 'paragraph'}
		{#if block.content != null}
			{#if is_list_item}
				<svelte:self bloks={block.content} {width} {is_list_item} />
			{:else}
				<p>
					<svelte:self bloks={block.content} {width} {is_list_item} />
				</p>
			{/if}
		{/if}
	{:else if block.type == 'heading'}
		{#if block.attrs.level == 1}
			<h1>
				<svelte:self bloks={block.content} {width} {is_list_item} />
			</h1>
		{/if}
		{#if block.attrs.level == 2}
			<h2>
				<svelte:self bloks={block.content} {width} {is_list_item} />
			</h2>
		{/if}
		{#if block.attrs.level == 3}
			<h3>
				<svelte:self bloks={block.content} {width} {is_list_item} />
			</h3>
		{/if}
		{#if block.attrs.level == 4}
			<h4>
				<svelte:self bloks={block.content} {width} {is_list_item} />
			</h4>
		{/if}
		{#if block.attrs.level == 5}
			<h5>
				<svelte:self bloks={block.content} {width} {is_list_item} />
			</h5>
		{/if}
		{#if block.attrs.level == 6}
			<h6>
				<svelte:self bloks={block.content} {width} {is_list_item} />
			</h6>
		{/if}
	{:else if block.type == 'bullet_list'}
		<ul>
			<svelte:self bloks={block.content} {width} {is_list_item} />
		</ul>
	{:else if block.type == 'ordered_list'}
		<ol>
			<svelte:self bloks={block.content} {width} {is_list_item} />
		</ol>
	{:else if block.type == 'list_item'}
		<li>
			<span>
				<svelte:self
					bloks={block.content}
					{width}
					is_list_item={true}
				/>
			</span>
		</li>
	{:else if block.type == 'horizontal_rule'}
		<hr />
	{:else if block.type == 'code_block'}
		<code>
			<pre>{block.content[0].text}</pre>
		</code>
	{:else if block.type == 'image'}
		<div class="image">
			<img
				src={`${block.attrs.src}/m/fit-in/500x0/smart`}
				alt={block.attrs.alt}
			/>
			{#if block.attrs.title != ''}
				<span class="caption">
					{block.attrs.title}
				</span>
			{/if}
		</div>
	{/if}
{/each}

<style lang="scss">
	p, ul, ol, code {
		margin: 16px auto;

		font-size: 16px;
	}

	li {
		display: list-item;
		span {
			display: inline-flex;
			width: Calc(100% - 24px);
		}
		margin: 8px auto;
	}

	ul,
	ol {
		margin-left: 12px;
		list-style-position: inside;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	.image {
		padding: 64px 24px;
		width: 100%;

		display: grid;
		place-items: center;

		img {
			width: 100%;

			max-width: 500px;
		}

		.caption {
			margin-top: 16px;

			color: $text-dark;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;

		margin: 32px auto;
	}

	hr {
		border: none;

		width: 80%;

		margin: 32px auto;

		@include mobile_portrait_only {
			width: 90%;
		}

		border-top: 1px solid $text-dark;
	}
</style>
