<script lang="ts">
	export let block: StoryblokComponents.Text;

	let bold = false;
	let italic = false;
	let strikethrough = false;
	let underline = false;

	let link: StoryblokMarks.Link | null = null;
	let code = false;

	if (block.marks) {
		block.marks.forEach((item) => {
			if (item.type != undefined) {
				switch (item.type) {
					case 'bold':
						bold = true;
						break;
					case 'code':
						code = true;
						break;
					case 'italic':
						italic = true;
						break;
					case 'link':
						link = item;
						break;
					case 'strike':
						strikethrough = true;
						break;
					case 'underline':
						underline = true;
						break;
				}
			}
		});
	}
</script>

{#if link != null}
	{#if link.attrs.linktype == 'url'}
		<a
			href={link.attrs.href}
			target={link.attrs.target || ''}
			rel="external"
			class:b={bold}
			class:i={italic}
			class:s={strikethrough}
			class:u={underline}
		>
			{block.text}
		</a>
	{:else if link.attrs.linktype == 'story'}
		<a
			href={`/blog/${link.attrs.href}`}
			target={link.attrs.target || ''}
			class:b={bold}
			class:i={italic}
			class:s={strikethrough}
			class:u={underline}
		>
			{block.text}
		</a>
	{/if}
{:else if code}
	<code>
		{block.text}
	</code>
{:else if block.marks != null}
	<span
		class:b={bold}
		class:i={italic}
		class:s={strikethrough}
		class:u={underline}
	>
		{block.text}
	</span>
{:else}
	{block.text}
{/if}

<style lang="scss" scoped>
	.u:not(.s) {
		text-decoration: underline;
	}

	.s:not(.u) {
		text-decoration: line-through;
	}

	.s.u {
		text-decoration: underline line-through;
	}

	.b {
		font-weight: bold;
	}

	.i {
		font-style: italic;
	}

	a {
		color: $text-dark;
	}
</style>
