<script lang="ts">
	import type { PageData } from './$types';

	export let data: PageData;

	import { onMount } from 'svelte';
	import Page from '$lib/page.svelte';
	import { local_date_string_options } from '$lib/utils';
	import Renderer from '$lib/blog-renderer/renderer.svelte';
	import { useStoryblokBridge } from '@storyblok/js';
	import { fly, fade } from 'svelte/transition';

	let banner: HTMLDivElement;
	let banner_size = null;

	$: ({ story } = data);

	onMount(async () => {
		banner_size = `${banner.scrollWidth || 0}x${banner.scrollHeight || 0}`;
		useStoryblokBridge(story.id, (n): void => {
			// @ts-ignore
			story = n as StoryblokPageWithPageContent;
		});
	});
</script>

<svelte:head>
	<title>{story.name} - d3rpp.dev</title>
	<meta property="og:title" content={`${story.name}`} />
	<meta property="og:type" content="" />
	<meta property="og:url" content={`https://d3rpp.dev/blog/${story.slug}`} />
	<meta
		property="og:image"
		content={`${story.content.banner.filename}/m/500x0/smart/filters:format(webp)`}
	/>

	<meta property="og:description" content={story.content.description} />
	<meta name="description" content={story.content.description} />
</svelte:head>

<div
	class="banner"
	bind:this={banner}
	style={banner_size
		? `background-image:url("${story.content.banner.filename}/m/${banner_size}/smart/filters:format(webp)");`
		: ''}
	in:fade={{ duration: 200, delay: 100 }}
	out:fade={{ duration: 100 }}
/>

<Page margin={false}>
	<div
		class="header"
		in:fly={{ duration: 200, delay: 100, y: 5 }}
		out:fade={{ duration: 100 }}
	>
		<h1 class="title">
			{story.name}
		</h1>
		<div style="flex: 1 1 auto;height:16px;" />
		<span class="date">
			{new Date(story.created_at).toLocaleDateString(
				undefined,
				local_date_string_options
			)}
		</span>
	</div>
	<article
		class="content"
		in:fade={{ duration: 200, delay: 100 }}
		out:fade={{ duration: 100 }}
	>
		<!-- 😐 its better than confluence I guess -->
		<Renderer bloks={story.content.content.content} width={500} />
	</article>
</Page>

<style lang="scss">
	.banner {
		width: 100%;
		height: 250px;

		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: $accent-dark;
		background-attachment: local;
	}

	.header {
		margin: 16px auto 48px auto;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		width: 65%;

		.title {
			font-size: 48px;
		}

		.date {
			// z-index: 0;

			// opacity: 0.75;

			color: $text-dark;
		}

		@include mobile_and_tablet {
			flex-direction: column;

			width: 100%;
			padding: 0px 8px;
			margin: 16px 0;

			.title,
			.date {
				text-align: center;
			}
		}
	}

	.content {
		margin: 32px auto;

		transition: width 100ms ease;

		width: 60%;

		@include mobile_portrait_only {
			width: 90%;
		}
	}
</style>
