<script lang="ts">
	import type { PageData } from './$types';

	export let data: PageData;
	
	import { onMount } from 'svelte';
	import Page from '$lib/page.svelte';
	import { local_date_string_options } from '$lib/utils';
	import Renderer from '$lib/blog-renderer/renderer.svelte';

	import { fly, fade } from 'svelte/transition';

	let banner: HTMLDivElement;
	let banner_size = null;

	$: ({ story } = data);

	onMount(() => {
		banner_size = `${banner.scrollWidth || 0}x${banner.scrollHeight || 0}`;
	});
</script>

<svelte:head>
	<title>{story.name} - d3rpp.dev</title>
	<meta property="og:title" content={`${story.name}`} />
	<meta property="og:type" content="" />
	<meta property="og:url" content={`https://d3rpp.dev/blog/${story.slug}`} />
	<meta
		property="og:image"
		content={`${story.content.banner.filename}/m/500x0/smart/filters:format(png)`}
	/>

	<meta property="og:description" content={story.content.description} />
	<meta name="description" content={story.content.description} />
</svelte:head>

<div
	class="banner"
	bind:this={banner}
	style={banner_size
		? `background-image:url("${story.content.banner.filename}/m/${banner_size}/smart/filters:format(webp)");`
		: ''}
	in:fade={{ duration: 200, delay: 100 }}
	out:fade={{ duration: 100 }}
>
	<a
		class="back-arrow"
		href="/blog"
		in:fade={{ duration: 200, delay: 100 }}
		out:fade={{ duration: 100 }}
		title="go back"
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
			<path
				d="M24 40 8 24 24 8 26.1 10.1 13.7 22.5H40V25.5H13.7L26.1 37.9Z"
			/>
		</svg>
	</a>
</div>
<Page margin={false}>
	<div
		class="header"
		in:fly={{ duration: 200, delay: 100, y: 5 }}
		out:fade={{ duration: 100 }}
	>
		<h1 class="title">
			{story.name}
		</h1>
		<div style="flex: 1 1 auto;height:16px;" />
		<span class="date">
			{new Date(story.created_at).toLocaleDateString(
				undefined,
				local_date_string_options
			)}
		</span>
	</div>
	<article
		class="content"
		in:fade={{ duration: 200, delay: 100 }}
		out:fade={{ duration: 100 }}
	>
		<!-- 😐 its better than confluence I guess -->
		<Renderer bloks={story.content.content.content} width={500} />
	</article>
</Page>

<style lang="scss">
	.back-arrow {
		display: grid;
		place-items: center;

		width: 64px;
		height: 64px;

		// padding: 8px;

		background-color: #00000070;

		text-decoration: none;

		svg {
			width: 32px;

			path {
				fill: $text;
			}
		}
	}
	.banner {
		width: 100%;
		height: 250px;

		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: $accent-dark;
		background-attachment: local;

		display: flex;
		flex-direction: column;

		justify-content: flex-end;
		align-items: flex-start;

		padding-left: 25%;

		@include mobile_and_tablet {
			padding-left: 0;
		}
	}

	.header {
		margin: 16px auto 48px auto;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		width: 65%;

		.title {
			font-size: 48px;
		}

		.date {
			// z-index: 0;

			// opacity: 0.75;

			color: $text-dark;
		}

		@include mobile_and_tablet {
			flex-direction: column;

			width: 100%;
			padding: 0px 8px;
			margin: 16px 0;

			.title,
			.date {
				text-align: center;
			}
		}
	}

	.content {
		margin: 32px auto;

		width: 50%;

		@include mobile_and_tablet {
			width: 90%;
		}
	}
</style>
