$primary: darken(hsl(10deg, 100%, 58%), 4);
$primary-dark: darken($primary, 2);
$accent: darken(#082032, 4);
$accent-dark: darken($accent, 2);

$text: #e3e3e3;
$text-hover: #d3d3d3;
$text-dark: darken($text, 15);

$scrollbar-track: $accent-dark;
$scrollbar-thumb: #cccccc80;

$header-height: 64px;

$footer-height: auto;
$footer-min-height: 64px * 2;
$footer-color: $accent-dark;

$ease: cubic-bezier(0.4, 0, 0.2, 1);

// size constraints

$mobile-threshold-width: 769px;
$tablet-threshold-width: 1200px;

// mixins for size constraints

@mixin desktop {
	@media screen and (min-width: "#{$tablet-threshold-width}") {
		@content;
	}
}

@mixin mobile_and_tablet {
	@media screen and (max-width: "#{$tablet-threshold-width}") {
		@content;
	}
}

@mixin tablet_only {
	@media screen and (min-width: "#{$tablet-threshold-width}") and (max-width: "#{$mobile-threshold-width}") {
		@content;
	}
}

@mixin mobile_portrait_only {
	@media screen and (max-width: "#{$mobile-threshold-width - 1}") {
		@content;
	}
}

// dynamic mixins for size constrainst

@mixin width-lt($max-width) {
	@media screen and (max-width: "#{$max-width}") {
		@content;
	}
}

@mixin width-gt($min-width) {
	@media screen and (min-width: "#{$min-width}") {
		@content;
	}
}

@mixin height-lt($max-height) {
	@media screen and (max-height: "#{$max-width}") {
		@content;
	}
}

@mixin height-gt($min-height) {
	@media screen and (min-height: "#{$min-width}") {
		@content;
	}
}
